/*!*************************************************************************
* Copyright 2013 Ryan Chan <ryan@rcchan.com>                               *
*                                                                          *
* This program is free software: you can redistribute it and/or modify     *
* it under the terms of the GNU Affero General Public License as           *
* published by the Free Software Foundation, either version 3 of the       *
* License, or (at your option) any later version.                          *
*                                                                          *
* This program is distributed in the hope that it will be useful,          *
* but WITHOUT ANY WARRANTY; without even the implied warranty of           *
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the            *
* GNU Affero General Public License for more details.                      *
*                                                                          *
* You should have received a copy of the GNU Affero General Public License *
* along with this program.  If not, see <http://www.gnu.org/licenses/>.    *
*                                                                          *
*                                                                          *
* Additional permission under the GNU Affero GPL version 3 section 7:      *
*                                                                          *
* If you modify this Program, or any covered work, by linking or           *
* combining it with other code, such other code is not for that reason     *
* alone subject to any of the requirements of the GNU Affero GPL           *
* version 3.                                                               *
\**************************************************************************/

@import bootstrap
@import bootstrap-responsive
@import jquery-ui
@import "jquery.dataTables"
@import "jquery.dataTables_themeroller"
@import stats
@import config
@import editForm
@import needs

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body
  min-height 100%
  height 100%

#header
  text-align center
  
#footer
  position absolute
  width 100%
  bottom 0
  font-size 8px
  color grey
  text-align center

// bootstrap overrides
.navbar li.dropdown
  &:hover .dropdown-menu
      display block
  .dropdown-menu
    top 95% 

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
  text-decoration underline
  
.navbar .nav
  width 100%

.navbar.nav
  margin-top 1px
  
.navbar .nav > li.pull-right
  float right
  
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  height 30px

#container
  float none
  margin auto

// highcharts override
text[text-anchor=end]
  display none
