.error-message
  color red
  font-weight bold
  
#WorkRequestUpsertForm, #NeedUpsertForm
  textarea
    width 250px
    height 180px
    
  .description textarea
    width 500px
    height 120px

  > fieldset > div
      display inline-block
      padding 10px 20px